<!DOCTYPE html>
<html>
 <head>
   <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
   <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond:600i|Francois+One|Montserrat" rel="stylesheet">

   <title>About Us</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="about_us.css">
   </head>

 <body>
    <ul>
 <li><center><a class="active" href="index.erb">Home</center></a></li>
 <li><a href="our_purpose.erb">Our Purpose</a></li>
 <li><a href="about_us.erb">About Us</a></li>
</ul>
   <h1> About us </h1>

   <p> AllerGenius is a nonprofit website created by <a href="https://www.kodewithklossy.com/">Kode with Klossy</a> scholars Maya Griffith and Lauren Chan. Both Maya and Lauren have severe food allergies, and often feel excluded or unsafe when eating out, because their allergens are all around them. They created this because they wanted to help people like them.
</p>
<img src="http://i64.tinypic.com/kchypv.jpg" />
<style>
img {
   float: right;
}
</style>
<h2> Maya Griffith </h2>
<p>Maya Griffith is a junior in Old Tappan Regional High School and lives in Harrington Park, New Jersey. She loves dancing, specifically ballet, field hockey, lacrosse, and makeup. Maya is allergic to many things including nuts, peanuts, sesame, and several others, and has had allergies to many other foods including dairy, shellfish, and eggs in the past.  But, even being allergic to all of these things, she does not let it hold her back. Creating his website is extremely important to her because she knows what it is like to not ever feel safe when eating.<p>
<br>

<img src="http://i63.tinypic.com/f0q7aa.jpg" />


<h2> Lauren Chan </h2>

<p>Lauren Chan is a sophomore in West Windsor-Plainsboro High School North, and currently lives in Princeton, New Jersey. She loves competitively swimming, reading, and being outside. She created this website in hopes of creating a safer environment for those with food allergies, since she used to be allergic to coconuts, eggs, and nuts. She currently still has a severe allergy to dairy, which has created some problems in everyday life. However, she uses her struggle to fuel her passion for this website.
</p>



 </body>
 </html>
