
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="our_purpose.css">
   <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond:600i|Francois+One|Montserrat" rel="stylesheet">
  <title>Find restaurants you can eat at!</title>
</head>
<body>

<ul>
 <li><center><a class="active" href="index.erb">Home</center></a></li>
 <li><a href="our_purpose.erb">Our Purpose</a></li>
 <li><a href="about_us.erb">About Us</a></li>
</ul>


<h1>Click an allergy to find restaurants that are safe to eat at, and see their allergen menus.
</h1>
<div class="wrapper">
  <button class="button"><a href="eggs.html"><center>Eggs</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="dairy.html"><center>Dairy</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="treenuts.html"><center>Tree Nuts</a></center></button>
</div>
<div class="wrapper">
  <button class="button"><a href="peanuts.html"><center>Peanuts</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="gluten.html"><center>Gluten</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="soy.html"><center>Soy</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="shellfish.html"><center>Shellfish</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="fish.html"><center>Fish</a></center></button>
</div>

</body>
</html>
