<html>
<head>
<h1>Find restaurants you can eat at!</h1>
</head>
<body>

<h1>Click an allergy to find restaurants that are safe to eat at, and see their allergen menus.
</h1>
<div class="wrapper">
  <button class="button"><a href="eggs.html"><center>Eggs</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="dairy.html"><center>Dairy</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="treenuts.html"><center>Tree Nuts</a></center></button>
</div>
<div class="wrapper">
  <button class="button"><a href="peanuts.html"><center>Peanuts</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="gluten.html"><center>Gluten</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="soy.html"><center>Soy</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="shellfish.html"><center>Shellfish</a></center></button>
</div>

<div class="wrapper">
  <button class="button"><a href="fish.html"><center>Fish</a></center></button>
</div>

</body>
</html>
