<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="index.css">
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond:600i|Francois+One" rel="stylesheet">
  <title>AllerGenius</title>
  </head>

  <body>
      <ul>
  <li><center><a class="active" href="index.html">Home</center></a></li>
  <li><a href="our_purpose.html">Our Purpose</a></li>
  <li><a href="about_us.html">About Us</a></li>
</ul>

  <h1>AllerGenius</h1>
  <h2><center> A website created by two girls with food allergies.</center></h2>
  <div class="header"></div>
    <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
    </a>
<div class="wrapper">
  <button class="button"><a href="allergies.html.erb"><center>See Allergies</a></center></button>
</div>
<h2><center><i> ***A quick reminder to ALWAYS have your EpiPen on you, since you never know what may happen***</i></h2>


  </body>
</html>
