

  <h1>AllerGenius</h1>
  <h2><center> A website created by two girls with food allergies.</center></h2>
  <div class="header"></div>
    <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
    </a>
<div class="wrapper">
  <button class="button"><a href="click_one.html"><center>See Allergies</a></center></button>
</div>
<h2><center><i> ***A quick reminder to ALWAYS have your EpiPen on you, since you never know what may happen***</i></h2>