

      <ul>
  <li><center><a class="active" href="index.html">Home</center></a></li>
  <li><a href="our_purpose.html">Our Purpose</a></li>
  <li><a href="about_us.html">About Us</a></li>
</ul>

  <h1>AllerGenius</h1>
  <h2><center> A website created by two foodies with food allergies.</center></h2>
  <div class="header"></div>
    <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
    </a>
<div class="wrapper">
  <a href='/results' class="button"><center>See Allergies</center></a>
</div>

<h2><center><i> ***A quick reminder to ALWAYS have your EpiPen on you, since you never know what may happen***</i></h2> <br><br>
