<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KWK Flowchart Application</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <style>
    body, html{ 
      height: 100%;
      margin: 0;
    }
      
      h1 {
      text-align: center;
      font-size: 60px;
      background-color: #333;
      font-family: 'Dancing Script', cursive;
      color: white;
    }

    h2 {
      font-family: 'EB Garamond', serif;
    }
     .header{ 

      background-image: url("https://i.pinimg.com/originals/5f/55/db/5f55dbaf0df70f1d9297a14c476e1bcf.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


    .testing{
      text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 30px;
        font-size: 16px;
        font-family: 'Francois One', sans-serif;
    }

    li a:hover {
        background-color: #111;
    }

    .wrapper {
      text-align: center;
    }

    .button {
        background-color: #333;
        border: #333;
        color: white;
        padding: 20px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 20px 20px;
        cursor: pointer;
        position: absolute;
        top: 50%
    }

    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    html,
    body,
    #map_canvas {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
    </style>
  </head>

  <body>
    <main role="main" class="container">
      <%= yield %>
    </main>
  </body>
</html>
